html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.thead_tr {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}
